@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: "Urbanist", serif; */
    scroll-behavior: smooth;
    color: white;
}

.background {
    background: linear-gradient(180deg, #3e243d 0%, #302b63 50%, #243d3d 100%);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
}

:root {
    --prim-color: rgb(179, 255, 0);
    --pacifico: "Pacifico", serif;
    --kaushan: "Kaushan Script", serif;
    --urbanist: "Urbanist", serif;
}

::selection {
    background-color: rgba(83, 83, 83, 0.4);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding: 25px 0 0 0;
}

.logo {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-family: var(--kaushan) !important;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 500;
    gap: 10px;
}

.logo a {
    color: var(--prim-color);
}

.social-media img {
    width: 50px;
}

/* #x {
    background-color: white;
} */

.container {
    display: flex;
    max-width: 80vw;
    height: 75vh;
    margin: auto;
}

.c1 {
    display: flex;
    flex-direction: column;
    width: 35vw;
    gap: 20px;
    justify-content: center;
    font-weight: 500;
}

.cc1 {
    font-family: var(--urbanist);
    font-size: 3em;
}

.cc2 {
    font-family: var(--pacifico);
    font-size: 5em;
}

.cc3 {
    font-family: var(--urbanist);
    font-size: 2em;
    background-color: var(--prim-color);
    color: black;
    font-weight: bold;
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    /* width: 90%; */
    text-align: center;
}

.cc4 {
    font-family: var(--urbanist);
}

.cc5 {
    font-family: var(--urbanist);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.cc5 button{
    background-color: var(--prim-color);
    color: black;
    font-family: var(--urbanist);
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cc5 button svg{
    position: absolute;
    transform: translate(-100%);
    top: 32%;
    left: 0;
    transition: 0.2s;
}

.cc5 button:hover svg{
    transform: translate(100%);
}

.cc5 img{
    animation: blink 1s infinite linear;
}

@keyframes blink {
    0%{
       opacity: 0; 
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.footer{
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    font-family: var(--urbanist);
    font-size: 1.3em;
    font-weight: bold;
}

.fdetails{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 100;
}

.fc{
    display: flex;
    flex-direction: column;
}

.container-right{
    /* right: 0; */
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-right img{
    position: absolute;
    right: 13%;
    border: 10px dotted var(--prim-color);
}