body {
  font-family: "Oswald", sans-serif;
}

html{
  scroll-behavior: smooth;
}

#heading {
  font-family: "Rowdies", cursive;
  font-size: 40px;
  border: 2px solid black;
  background-color: #242582;
  color: #ffffff;
  /* padding: T R B L; */
  padding: 2px 16px;
  padding-bottom: 7px;
  margin-left: 39.25%;
  /* margin-top: 5px; */
  border-radius: 10px;
  /* box-sizing: border-box; */
}

.container {
  border-radius: 10px;
  border: 2px solid black;
  margin: 2% 0 0 0;
}

.contentlinks{
  text-decoration: none;
  color: white;
<<<<<<< HEAD
  border: 2px solid white;
  border-radius: 20px;
  padding: 6px;
}

#link1{
  padding: 6px 25px;
}

#link2{
  padding: 6px 22px;
}

#link3{
  padding: 6px 33px;
}

#link4{
  padding: 6px 21px;
}

#link5{
  padding: 6px 21px;
}

/* #link6{
  padding: 6px 20px;
} */

/* #link7{
  padding: 6px 20px;
} */

#link8{
  padding: 6px 31px;
}

#link9{
  padding: 6px 26px;
}

#link10{
  padding: 6px 13px;
}

#link11{
  padding: 6px 43px;
}

#link12{
  padding: 6px 12px;
}

#link13{
  padding: 6px 25px;
}

#link14{
  padding: 6px 18px;
}

#link15{
  padding: 6px 36px;
}

#link16{
  padding: 6px 36px;
}

#link17{
  padding: 6px 49px;
}

#link18{
  padding: 6px 21px;
}

#link19{
  padding: 6px 38px;
}

#link20{
  padding: 6px 44px;
}

#link21{
  padding: 6px 12px;
}

#link22{
  padding: 6px 22px;
}

#link23{
  padding: 6px 20px;
}

#link24{
  padding: 6px 31px;
}

#content1 li{
  padding: 12px 0;
}

#content2 li{
  padding: 12px 0;
}

#content3 li{
  padding: 12px 0;
}

#content4 li{
  padding: 12px 0;
}

.contentlinks:hover{
  color: rgb(174, 0, 255);
  background-color: white;
  border-color: rgb(174, 0, 255);
}

.contentlinks:active{
  color: white;
  background-color: rgb(174, 0, 255);
  border-color: white;
}

#PageContents{
=======
}

.contentlinks:hover{
  color: #0000ff;
}

.contentlinks:active{
  color: lime;
}

#contentmain{
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  display: flexbox;
  background-color: #de04b0;
  color: white;
}

.ctncls{
  /* border: 2px solid black; */
  display: block;
  text-align: center;
  margin-top: -14px;
}

#contentheading{
  /* padding-left: 45%; */
  /* justify-content: center; */
  margin-top: -16px;
}

#content1{
<<<<<<< HEAD
  margin-left: 22%;
=======
  margin-left: 28%;
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  /* margin-top: 10%; */
  /* border: 2px solid black; */
  display: inline-block;
  /* display: none; */
}

#content2{
<<<<<<< HEAD
  margin-left: 2%;
  /* border: 2px solid black; */
  display: inline-block;
  /* display: none; */
}

#content3{
  margin-left: 2%;
  /* border: 2px solid black; */
  display: inline-block;
  /* display: none; */
}

#content4{
  margin-left: 2%;
=======
  margin-left: 24%;
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  /* border: 2px solid black; */
  display: inline-block;
  /* display: none; */
}

<<<<<<< HEAD
#HorizontalLines-1 {
=======
#hrline1 {
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  padding-bottom: 0.5%;
  background-color: #05386b;
  color: #ffffff;
}

#Introduction {
  /* color: rgb(0, 0, 65); */
  /* border-color: rgb(0, 0, 65); */
  background-color: rgb(72, 255, 0);
}

#HeadingTags {
  color: white;
  background-color: rgb(107, 0, 207);
}

#FontTags {
  background-color: rgb(0, 255, 255);
}

#BasicTags-1 {
  color: white;
  background-color: red;
}

#BasicTags-2 {
  color: white;
  background-color: rgb(0, 60, 255);
}

#LineBreak {
  background-color: rgb(0, 255, 34);
}

<<<<<<< HEAD
#PreserveTag {
=======
#para7 {
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  background-color: yellow;
}

#CenterAlignment {
  background-color: #ff8303;
}

<<<<<<< HEAD
#CenterAlignment ul{
  display: inline-flex;
}

#CenterAlignment center{
=======
#para8 ul{
  display: inline-flex;
}

#para8 center{
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  display: inline-flex;
  margin-left: 17rem;
}

<<<<<<< HEAD
#HorizontalLines-2 {
=======
#para9 {
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
  background-color: #541684;
  color: white;
}

#Images {
  color: white;
  background-color: rgb(255, 0, 43);
}

#OrderedLists {
  color: #f3ca20;
  background-color: rgb(43, 4, 4);
  border-color: #f3ca20;
}

#UnorderedLists {
  background-color: #00c3ff;
}

#Tables-1 {
  background-color: #ccff00;
}

#Tables-2 {
  background-color: #51ff00;
}

#Links {
  background-color: #7a2048;
  color: white;
}

/* #iconlink1 {
  margin: 0 0 0 0;
} */

#iconlink1:hover {
  opacity: 85%;
}

#iconlink1:active {
  opacity: 50%;
}

#iconlink2:hover {
  opacity: 85%;
}

#iconlink2:active {
  opacity: 50%;
}

#iconlink3:hover {
  opacity: 85%;
}

#iconlink3:active {
  opacity: 50%;
}

#iconlink2 {
  margin-left: 20px;
}

#iconlink3 {
  margin-left: 20px;
}

#others1 {
  margin: 0 0 0 20px;
  display: inline-block;
}

.links {
  color: rgb(94, 255, 255);
}

.links2 {
  color: rgb(0, 119, 255);
}

.links3 {
  color: rgb(117, 43, 255);
}

.links:hover {
  color: rgb(0, 219, 219);
}

.links2:hover {
  color: rgb(0, 38, 255);
}

.links3:hover {
  color: rgb(0, 38, 255);
}

.links:active {
  color: rgb(217, 255, 0);
}

.links2:active {
  color: rgb(0, 12, 80);
}

.links3:active {
  color: rgb(0, 12, 80);
}

/* .links:visited{
  color: rgb(0, 132, 255);
} */

#ContainerTags {
  background-color: #ff4500;
}

#Address {
  background-color: #008000;
  color: white;
}

#Forms {
  background-color: #0000ff;
  color: white;
}

#GlobalAttributes {
  background-color: #ffc0cb;
}

#HTML-Entities {
  background-color: #dfff00;
}

#SemanticTags {
  background-color: #8a2be2;
  color: white;
}

<<<<<<< HEAD
#Bookmarks{
  background-color: yellow;
}

#BackgroundImage{
  background-image: url('https://cdn.discordapp.com/attachments/726127776817479732/947394908279410699/istockphoto-1201252148-170667a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.2; */
}

#IframeTag{
  background-color: #0645ad;
  color: white;
=======
#para22{
  background-color: yellow;
}

#para23{
  background-image: url('https://cdn.discordapp.com/attachments/726127776817479732/947394908279410699/istockphoto-1201252148-170667a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#para24{
  
}

#bgimg{
  opacity: 0.2;
>>>>>>> e6252f546a2c15bc201f810a95c65fb36d37ee96
}

#input1 {
  margin-left: 34px;
}

#input2 {
  margin-left: 7px;
}

#input3 {
  margin-left: 15px;
}

#input4 {
  margin-left: 39px;
}

/* #input5{
} */

#btn1{
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 7px;
  color: white;
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

#btn1:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}

#btn2{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 7px;
  color: white;
  background-color: red;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

#btn2:hover{
  background-color: white;
  color: red;
  border: 2px solid red;
}

#btn3{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: #006eff;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

#btn3:hover{
  background-color: white;
  color: #006eff;
  border: 2px solid #006eff;
}

.formhover:hover{
  cursor: pointer;
}

#linkbtn1{
  text-decoration: none;
  color: white;
  background-color: #1DB954;
  padding: 10px;
  text-align: center;
}

#linkbtn1:hover , #linkbtn1:active{
  background-color: #189142;
}

#linkbtn2{
  text-decoration: none;
  color: black;
  background-color: #FF9900;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
}

#linkbtn2:hover , #linkbtn2:active{
  background-color: #c77700;
}

#linkbtn3{
  text-decoration: none;
  color: #F8E831;
  background-color: #047BD5;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
}

#linkbtn3:hover , #linkbtn3:active{
  background-color: #0467b3;
}