* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

::selection {
    background-color: rgba(0, 0, 0, 0.4);
}

img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -10;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

@keyframes slide-in {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0%);
    }
}

/* .btn {
    margin: 0 0 20px 0;
    transition: 0.3s;
} */

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.btn2 {
    border: 5px solid black;
    background-color: #ff2cff;
    outline: 5px solid #ff2cff;
    padding: 10px 20px;
}

.btn2:hover {
    border: 5px solid black;
    color: white;
    background-color: #ae00ff;
    outline: 5px solid white;
    scale: 0.9;
}

.btn2:active {
    border: 5px solid #ae00ff;
    color: #ae00ff;
    background-color: white;
    outline: 5px solid white;
}

.btn3 {
    border: 5px solid black;
    background-color: #aaff00;
    outline: 5px solid #aaff00;
    padding: 10px 43.5px;
}

.btn3:hover {
    border: 5px solid black;
    color: white;
    background-color: darkgreen;
    outline: 5px solid white;
    scale: 0.9;
}

.btn3:active {
    border: 5px solid darkgreen;
    color: darkgreen;
    background-color: white;
    outline: 5px solid white;
} 

@media screen and (max-width:550px) {
    .btn {
        margin: 10px 25px;
        text-align: center;
    }

    .btn span{
        font-size: 30px;
    }
} 

/* Button */

.button {
    display: flex;
    justify-content: center;
}

.btn1 {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    background: aqua;
    transition: 0.3s;
    box-shadow: 6px 6px 0 black;
    border-radius: 50px;
    border: 5px solid black;
    outline: 5px solid aqua;
    animation: 0.5s cubic-bezier(0, 1.21, 0.58, 1) slide-in;
}

.btn1:hover {
    transition: 0.5s;
    box-shadow: 15px 15px 0 #FBC638;

}

.btn1:active {
    border: 5px solid aqua;
    color: aqua;
    background-color: black;
    outline: 5px solid black;
    scale: 0.9;
    transition: 0.2s;
}

.btn1 span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.btn1:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.btn:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.btn:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.btn:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: black;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: black;
    }
}