* {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 150px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #222;
    font-weight: 400;
    margin: 20px 0 0 0;
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    display: flex;
    align-items: center;
}

.right span:hover {
    opacity: 0.7;
    transition: 0.3s;
}

nav ul li {
    list-style: none;
}

.arrowimg {
    padding-left: 5px;
}

.mainbody {
    display: flex;
    justify-content: center;
    text-align: center;
}

main div first-child {
    margin-top: 35px;
}

.box1 {
    margin: 90px 0 40px 0;
    display: flex;
    align-items: baseline;
}

.box2 {
    margin-bottom: 30px;
}

.mainbody h1 {
    font-weight: normal;
    font-size: 3em;
}

.mainbody h2 {
    max-width: 60vw;
    font-weight: normal;
    /* padding: 0px 200px; */
}

.bluebtn:hover {
    background-color: #009cb4;
    transition: 0.5s;
}

.box3 p {
    background-color: #00b6d1;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
}

.box4 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    max-width: 60vw;
    padding: 50px 0 0 0;
}

.box4 h2 {
    font-weight: normal;
    font-size: 1.3em;
}

.box4 span {
    margin: 0 0 50px 0;
}

.box4 img {
    width: 50px;
    margin-right: 20px;
}

.box4 span:nth-child(3) {
    font-size: 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    margin-top: 50px;
    max-width: 80vw;
    margin: auto;
}

.bb {
    text-align: center;
    background-color: #f9f9f9;
    width: 330px;
    padding: 0px 0px 30px 0px;
}

.bb h2 {
    margin-bottom: 0px;
}

.bb1 h2 {
    margin-bottom: 55px;
}

.bb p {
    margin: 15px 0px 25px 0px;
    font-size: 12px;
}

.downloadbtn {
    background-color: #5cb85c;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    display: inline;
    cursor: pointer;
}

.downloadbtn:hover {
    background-color: #57aa57;
    transition: background-color 0.5s;
}

.sha {
    margin-top: 25px;
    font-size: 10px;
}

.shacode {
    font-size: 8px;
}

.container1 {
    background-color: #222;
    color: white;
    margin-top: 50px;
    padding: 40px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cc1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    max-width: 70vw;
    margin: auto;
}

.cc2 {
    background-color: white;
    color: #222;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.cc2 p {
    color: #00b6d1;
    font-size: 25px;
}

.label {
    margin-bottom: 5px;
}

.cc2 input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #222;
}

.btnsignup {
    background-color: #00b6d1;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
}

.cc3 {
    max-width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.head {
    font-size: 1.5em;
}

.cc3 a {
    color: #00b6d1;
}

.ccc {
    text-align: center;
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lastcontainer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 85vw;
    padding-top: 50px;
    flex-wrap: wrap;
}

.lc {
    width: 202px;
}

.lc1,
.lc3,
.lc4 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.lc h4 {
    margin-bottom: 20px;
}

.lc p {
    margin: 0;
}

.lc-p {
    color: #222;
    font-size: 14px;
}

.lc-p:hover {
    color: #454545;
    transition: color 0.5s;
}

.lc2 p {
    margin-bottom: 10px;
}

.lc5 {
    box-sizing: border-box;
}

.lc5 input {
    padding: 10px 16px;
    border: 1px solid #22242626;
    border-radius: 7px;
    transition: box-shadow .15s ease-in-out;
    color: #4e4e4e;
    margin-top: 10px;
    box-sizing: border-box;
}

.lc5 input:focus {
    box-shadow: 0 0 0 3px #00b6d1;

}

.subbtn {
    padding: 10px 0px;
    text-align: center;
    color: white;
    background-color: #00b6d1;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px;
    box-sizing: border-box;
}

.footcc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.footcc img {
    width: 175px;
}

.footcc svg {
    width: 30px;
    margin-right: 10px;
}

.rights {
    margin: auto;
    max-width: 63vw;
}

.rights p {
    padding-bottom: 50px;
    color: #222;
    font-size: 12px;
}

.fsvg:hover {
    width: 35px;
    transition: 0.3s;
    opacity: 0.7;
}