/* -----Universal----- */

body {
  font-family: "Oswald", sans-serif;
}

html{
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
}

/* -----Container----- */

.container {
  border-radius: 20px;
  margin: 1.5% 0 0 0;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-bottom: 3%;
  }
}

/* -----Heading----- */

#heading {
  font-family: "Rowdies", cursive;
  border: 4px solid #21237a;
  background-color: #3538c2;
  color: #ffffff;
  padding: 2px 16px;
  padding-bottom: 7px;
  border-radius: 10px;
  text-align: center;
  outline: 3.7px solid black;
  margin-top: 1px;
  transition:background-color 0.5s;
}

#heading:hover{
  background-color: #3032a3;
}

#heading h1 {
  font-size: 2.5rem;
  margin: 3px;
}

/* -----Page Contents----- */

#link1{
  padding: 6px 25px;
}

#link2{
  padding: 6px 22px;
}

#link3{
  padding: 6px 33px;
}

#link4{
  padding: 6px 30px;
}

#link5{
  padding: 6px 31px;
}

#link6{
  padding: 6px 14px;
}

#link7{
  padding: 6px 26px;
}

#link8{
  padding: 6px 13px;
}

#link9{
  padding: 6px 43px;
}

#link10{
  padding: 6px 25px;
}

#link11{
  padding: 6px 18px;
}

#link12{
  padding: 6px 12px;
}

#link13{
  padding: 6px 36px;
}

#link14{
  padding: 6px 36px;
}

#link15{
  padding: 6px 49px;
}

#link16{
  padding: 6px 21px;
}

#link17{
  padding: 6px 41px;
}

#link18{
  padding: 6px 46px;
}

#link19{
  padding: 6px 12px;
}

#link20{
  padding: 6px 22px;
}

#link21{
  padding: 6px 25px;
}

#link22{
  padding: 6px 21px;
}

#link23{
  padding: 6px 32px;
}

#link24{
  padding: 6px 33px;
}

#link25{
  padding: 6px 27px;
}

#link26{
  padding: 6px 48px;
}

#link27{
  padding: 6px 54px;
}

#link28{
  padding: 6px 36px;
}

#link29{
  padding: 6px 26px;
}

/* #link30{
  padding: 6px 20px;
} */

#content1 li{
  padding: 12px 0;
}

#content2 li{
  padding: 12px 0;
}

#content3 li{
  padding: 12px 0;
}

#content4 li{
  padding: 12px 0;
}

#content5 li{
  padding: 12px 0;
}

.contentlinks{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  outline: 2.2px solid black;
  border-radius: 20px;
  padding: 6px;
  transition: 0.1s;
}

.contentlinks:hover{
  color: rgb(174, 0, 255);
  background-color: white;
  border-color: rgb(174, 0, 255);
}

.contentlinks:active{
  color: white;
  background-color: rgb(174, 0, 255);
  border-color: white;
  transform: scale(0.9);
}

#PageContents{
  background-color: #de04b0;
  color: white;
  border: 3.5px solid #910372;
  outline: 3.7px solid black;
}

.ctncls{
  display: block;
  text-align: center;
  margin-top: -14px;
}

#contentheading{
  margin-top: -16px;
}

#allcontents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#PageContents p {
  margin: 0;
  font-size: 1rem;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .contents {
    max-width: 11rem;
  }

  .contents ul {
    padding-left: 2rem;
  }
}

/* -----Introduction----- */

#Introduction {
  background-color: rgb(72, 255, 0);
  border: 3.5px solid rgb(38, 134, 0);
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #Introduction ul {
    max-width: 85%;
  }
}

/* -----Tags----- */

#HeadingTags {
  color: white;
  background-color: rgb(107, 0, 207);
  border: 3.5px solid rgb(67, 0, 129);
  outline: 3.7px solid black;
}

#FontTags {
  background-color: rgb(0, 255, 255);
  border: 3.5px solid rgb(0, 136, 136);
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #FontTags ul:nth-child(1) {
    max-width: 85%;
  }

  #HeadingTags ul:nth-child(1) {
    max-width: 85%;
  }
}

/* -----Basic Tags----- */

#BasicTags {
  color: white;
  background-color: red;
  border: 3.5px solid rgb(134, 0, 0);
  outline: 3.7px solid black;
}

/* #BasicTags-2 {
  color: white;
  background-color: rgb(0, 60, 255);
  border: 3.5px solid rgb(0, 33, 139);
  outline: 3.7px solid black;
} */

@media only screen and (max-width:800px) {
  #BasicTags ul:nth-child(1) {
    max-width: 85%;
  }
}

/* -----Horizontal Lines----- */

#HorizontalLines {
  padding-bottom: 0.5%;
  background-color: #05386b;
  border: 3.5px solid #03274b;
  outline: 3.7px solid black;
  color: #ffffff;
}

/* #HorizontalLines-2 {
  background-color: #541684;
  border: 3.5px solid #340e52;
  outline: 3.7px solid black;
  color: white;
} */

#HorizontalLines hr:nth-child(2) {
  max-width: 95%;
}

#HorizontalLines hr:nth-child(3) {
  max-width: 85%;
}

#HorizontalLines hr:nth-child(4) {
  max-width: 75%;
}

#HorizontalLines hr:nth-child(5) {
  max-width: 65%;
}

#HorizontalLines hr:nth-child(6) {
  max-width: 55%;
}

#HorizontalLines ul {
  max-width: 85%;
}

/* -----Line Break----- */

#LineBreak {
  background-color: rgb(0, 255, 34);
  border: 3.5px solid rgb(0, 138, 18);
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #LineBreak ul {
    max-width: 85%;
  }
}

/* -----Preserve Tag----- */

#PreserveTag {
  background-color: yellow;
  border: 3.5px solid rgb(145, 145, 0);
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #PreserveTag ul {
    max-width: 85%;
  }
}

/* -----Center Alignment----- */

#CenterAlignment {
  background-color: #ff8303;
  border: 3.5px solid #8a4500;
  outline: 3.7px solid black;
}

#CenterAlignment div{
  display: flex;
  justify-content: center;
}

#CenterAlignment ul{
  margin: 0;
}

#CenterAlignment center{
  margin-bottom: 1rem;
}

/* -----Images----- */

#Images {
  color: white;
  background-color: rgb(255, 0, 43);
  border: 3.5px solid rgb(136, 0, 23);
  outline: 3.7px solid black;
}

#Images img {
  color: white;
  transition: 0.2s;
  margin-right: 3px;
}

#Images img:hover{
  color: greenyellow;
  box-shadow: black 0 0 2px 2px;
}

@media only screen and (min-width:0px) and (max-width:400px) {
  #Images img {
    max-width: 90%;
    height: 90%;
  }
}

@media only screen and (max-width:800px) {
  #Images ul {
    max-width: 85%;
  }

  #Images img {
    margin-bottom: 3px;
  }
}

/* -----Lists----- */

#OrderedLists {
  color: #f3ca20;
  background-color: rgb(43, 4, 4);
  border: 3.5px solid #4b3e09;
  outline: 3.7px solid black;
  border-color: #f3ca20;
}

#OrderedLists div {
  display: flex;
}

#OrderedLists ol {
  margin-right: 185px;
}

#UnorderedLists {
  background-color: #00c3ff;
  border: 3.5px solid #006d8f;
  outline: 3.7px solid black;
}

#UnorderedLists div {
  display: flex;
}

#UnorderedLists ul {
  margin-right: 185px;
}

@media only screen and (max-width: 800px) {
  #OrderedLists div {
    flex-wrap: wrap;
  }

  #OrderedLists ul{
    max-width: 85%;
    word-break: keep-all;
  }
  
  #UnorderedLists div {
    flex-direction: column;
  }

  #UnorderedLists ul{
    max-width: 85%;
  }

  #UnorderedLists>ul:nth-child(1){
    margin-right: 0;
  }
}

/* -----Tables----- */

#Tables-1 {
  background-color: #ccff00;
  border: 3.5px solid #6c8600;
  outline: 3.7px solid black;
}

#Tables-1 div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
}

#Tables-2 {
  background-color: #51ff00;
  border: 3.5px solid #2e9100;
  outline: 3.7px solid black;
}

#Tables-2 div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
}

@media only screen and (max-width:600px) {
  #Tables-1 ul {
    max-width: 85%;
  }

  #Tables-1 div {
    justify-content: flex-start;
  }

  #Tables-2 ul {
    max-width: 85%;
  }
}

/* -----Links----- */

#Links {
  background-color: #7a2048;
  border: 3.5px solid #571734;
  outline: 3.7px solid black;
  color: white;
}

#iconlink1:hover {
  opacity: 85%;
}

#iconlink1:active {
  opacity: 50%;
}

#iconlink2:hover {
  opacity: 85%;
}

#iconlink2:active {
  opacity: 50%;
}

#iconlink3:hover {
  opacity: 85%;
}

#iconlink3:active {
  opacity: 50%;
}

#iconlink2 {
  margin-left: 20px;
}

#iconlink3 {
  margin-left: 20px;
}

#others1 {
  margin: 0 0 0 20px;
  display: inline-block;
}

.links {
  color: rgb(94, 255, 255);
}

.links2 {
  color: rgb(0, 119, 255);
}

.links3 {
  color: rgb(117, 43, 255);
}

.links:hover {
  color: rgb(0, 219, 219);
}

.links2:hover {
  color: rgb(0, 38, 255);
}

.links3:hover {
  color: rgb(0, 38, 255);
}

.links:active {
  color: rgb(217, 255, 0);
}

.links2:active {
  color: rgb(0, 12, 80);
}

.links3:active {
  color: rgb(0, 12, 80);
}

#btn1{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 7px;
  color: white;
  background-color: purple;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

#btn1:hover{
  background-color: white;
  color: purple;
  border: 2px solid purple;
}

#btn2{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 7px;
  color: white;
  background-color: red;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

#btn2:hover{
  background-color: white;
  color: red;
  border: 2px solid red;
}

#btn3{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: #006eff;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

#btn3:hover{
  background-color: white;
  color: #006eff;
  border: 2px solid #006eff;
}

#linkbtn1{
  text-decoration: none;
  color: white;
  background-color: #1DB954;
  padding: 10px;
  text-align: center;
}

#linkbtn1:hover , #linkbtn1:active{
  background-color: #189142;
}

#linkbtn2{
  text-decoration: none;
  color: black;
  background-color: #FF9900;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
}

#linkbtn2:hover , #linkbtn2:active{
  background-color: #c77700;
}

#linkbtn3{
  text-decoration: none;
  color: #F8E831;
  background-color: #047BD5;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
}

#linkbtn3:hover , #linkbtn3:active{
  background-color: #0467b3;
}

.links-p {
  display: inline;
  margin-left: 5px;
}

@media only screen and (max-width:600px) {
  #Links ul {
    max-width: 85%;
  }

  .links-p {
    display: block;
    margin-left: 0;
  }
}

/* -----Container Tags----- */

#ContainerTags {
  background-color: #ff7300;
  border: 3.5px solid #8b3f00;
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #ContainerTags ul {
    max-width: 85%;
  }
}

/* -----Address----- */

#Address {
  background-color: #008000;
  border: 3.5px solid #005000;
  outline: 3.7px solid black;
  color: white;
}

@media only screen and (max-width:800px) {
  #Address ul {
    max-width: 85%;
  }
}

/* -----Forms----- */

#Forms {
  background-color: #0000ff;
  border: 3.5px solid #000091;
  outline: 3.7px solid black;
  color: white;
}

form fieldset{
  margin: 0 58rem 1rem 1rem;
}

#name {
  margin-left: 34px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}

#name:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#mobilenumber {
  margin-left: 7px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}

#mobilenumber:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#email {
  margin-left: 15px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}
#email:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#date {
  margin-left: 39px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}
#date:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#time {
  margin-left: 38px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}

#time:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#password{
  margin-left: 11px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}

#password:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#color {
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  margin-left: 2px;
  transition: 0.3s;
}

#color:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#file{
  margin-left: 10px;
  padding: 3px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  transition: 0.3s;
}

#file:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

#range{
  margin-left: 10px;
}

#occupation {
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  margin-left: 2px;
  transition: 0.3s;
}

#occupation:focus {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

form option {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
  padding: 5px 0;
  font-weight: bold;
  transition: 0.3s;
}

#bio{
  padding: 5px 0;
  padding-left: 5px;
  color: black;
  background-color: white;
  border: 2px solid currentColor;
  outline: 2.1px solid white;
  font-weight: bold;
  border-radius: 1px;
  margin-top: 5px;
  resize: none;
  transition: 0.3s;
}

#bio:focus {
  color: white;
  background-color: black;
  border: 2px solid currentColor;
  outline: 2.1px solid black;
}

.formhover:hover{
  cursor: pointer;
}

input[value~="Now"] {
  padding: 7px;
  color: black;
  background-color: white;
  font-weight: bold;
  border: 2px solid black;
  outline: 2.1px solid white;
  margin-right: 15px;
  transition: 0.1s;
}

input[value~="Now"]:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
  outline: 2.1px solid black;
}

@media only screen and (max-width:800px) {
  #Forms ul {
    max-width: 85%;
  }
}

/* -----Global Attributes----- */

#GlobalAttributes {
  background-color: #ffc0cb;
  border: 3.5px solid #8a686e;
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #GlobalAttributes ul {
    max-width: 85%;
  }
}

/* -----HTML Entites----- */

#HTML-Entities {
  background-color: #dfff00;
  border: 3.5px solid #7a8d00;
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #HTML-Entities ul {
    max-width: 85%;
  }
}

/* -----HTML Emojis----- */

#HTML-Emojis {
  background-color: #51ff00;
  border: 3.5px solid #2c8b00;
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #HTML-Emojis ul {
    max-width: 85%;
  }
}

/* -----Semantic Tags----- */

#SemanticTags {
  background-color: #8a2be2;
  border: 3.5px solid #4e1850;
  outline: 3.7px solid black;
  color: white;
}

#SemanticTags img {
  border: 2px solid black;
  transition: 0.2s;
}

#SemanticTags img:hover {
  box-shadow: 0 0 2px 2px white;
  opacity: 0.9;
}

@media only screen and (min-width:0px) and (max-width:400px) {
  #SemanticTags img {
    max-width: 85%;
  }
}

@media only screen and (max-width:800px) {
  #SemanticTags ul {
    max-width: 85%;
  }
}

/* -----Bookmarks----- */

#Bookmarks{
  background-color: yellow;
  border: 3.5px solid rgb(141, 141, 0);
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #Bookmarks ul {
    max-width: 85%;
  }
}

/* -----Background Image----- */

#BackgroundImage{
  background-image: url('/Learning.Web.Development/Items/Images/istockphoto-1201252148-170667a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.2; */
  border: 3.5px solid #87b7ff9c;
  outline: 3.7px solid black;
}

@media only screen and (max-width:800px) {
  #BackgroundImage ul {
    max-width: 85%;
  }
}

/* -----Iframe Tag----- */

#IframeTag{
  background-color: #0645ad;
  border: 3.5px solid #042d70;
  outline: 3.7px solid black;
  color: white;
}

#IframeTag iframe {
  border: 2px solid black;
  outline: 2.1px solid white;
  transition: 0.3s;
}

#IframeTag iframe:hover {
  box-shadow: 0 0 5px 5px black;
}

@media only screen and (max-width:600px) {
  #IframeTag ul {
    max-width: 85%;
  }
}

/* -----Scroll Up Button----- */

#scrollup{
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px;
  display: inline;
  position: fixed;
  /* margin-top: 1vw; */
  /* float: right; */
  right: 20px;
  bottom: 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

#scrollup:hover{
  background-color: rgba(0, 0, 0, 1);
}

#scrollup img{
  width: 35px;
}

@media only screen and (max-width: 800px) {
  #scrollup {
    right: 20px;
  }
}

/* -----HTML-Shapes----- */

#HTML-Shapes{
  background-color: darkred;
  color: white;
  border: 3.5px solid rgb(65, 0, 0);
  outline: 3.7px solid black;
}

svg{
  margin-top: 12px;
}

svg circle{
  stroke: green;
  stroke-width: 4px;
  fill: yellow;
}

svg rect{
  stroke: green;
  stroke-width: 8px;
  fill: yellow;
}

#rect2{
  stroke: green;
  stroke-width: 4px;
  fill: yellow;
}
@media only screen and (min-width:200px) and (max-width: 400px) {
  #HTML-Shapes svg:nth-child(2) {
    max-width: 85%;
  }

  #HTML-Shapes svg:nth-child(2)>rect {
    max-width: 140px;
  }
}

@media only screen and (max-width: 800px) {
  #HTML-Shapes svg:nth-child(2) {
    width: 280px;
  }

  #HTML-Shapes svg:nth-child(2)>rect {
    width: 280px;
  }

  #HTML-Shapes ul {
    max-width: 85%;
  }
}

/* -----Media----- */

video{
  width: 500px;
  height: auto;
  border: 4px solid white;
  outline: 2px solid black;
  transition: 0.2s;
}

video:hover{
  box-shadow: 0 0 5px 5px black;
}

audio{
  border: 2px solid black;
  border-radius: 30px;
  transition: 0.2s;
}

audio:hover{
  outline: 2.1px solid white;
  box-shadow: 0 0 5px 5px black;
}

#Media{
  background-color: chartreuse;
  border: 3.5px solid rgb(69, 138, 0);
  outline: 3.7px solid black;
}

#Media iframe{
  width: 500px;
  height: 282px;
  border: 4px solid white;
  outline: 2px solid black;
  transition: 0.2s;
}

#Media iframe:hover{
  box-shadow: 0 0 5px 5px black;
}

@media only screen and (min-width:0px) and (max-width: 400px) {
  video {
    max-width: 90%;
    height: auto;
  }

  audio {
    max-width: 90%;
  }

  #Media iframe {
    max-width: 90%;
    height: 50px;
  }
}


@media only screen and (max-width: 600px) {
  video {
    width: 280px;
    height: auto;
  }

  audio {
    width: 280px;
    height: 50px;
  }

  #Media iframe {
    width: 280px;
    height: auto;
  }

  #Media ul {
    max-width: 85%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  video {
    width: 380px;
    height: auto;
  }

  audio {
    width: 380px;
    height: 50px;
  }

  #Media iframe {
    width: 380px;
    height: 220px;
  }

  #Media ul {
    max-width: 85%;
  }
}

/* -----CSS----- */

#CSS{
  background-color: aqua;
  border: 3.5px solid rgb(0, 138, 138);
  outline: 3.7px solid black;
}

.csswebreslinks{
  text-decoration: none;
  border: 2px solid white;
  border-radius: 25px;
  padding: 7px;
  margin: 5px;
  background-color: #8d39fa;
  color: white;
  outline: 2.3px solid black;
  transition: 0.1s;
}

.csswebreslinks:hover{
  outline: 2.3px solid black;
  border: 2px solid #8d39fa;
  color: #8d39fa;
  background-color: white;
}

.csswebreslinks:active{
  outline: 2.3px solid black;
  border: 2px solid white;
  color: white;
  background-color: #ff0397;
}

#csscwhli{
  margin-top: 30px;
}

#cssw3slink{
  padding: 7px 19px;
}

#csssololink {
  padding: 7px 23px;
}

.cssvidreslinks{
  border-radius: 5px;
  padding: 3px 9px;
  text-decoration: none;
  border: 2px solid white;
  outline: 2.2px solid black;
  color: white;
  background-color: red;
  margin-left: 3px;
  margin-right: 5px;
  transition: 0.1s;
}

.cssvidreslinks:hover{
  background-color: black;
  color: white;
}

.cssvidreslinks:active{
  background-color: white;
  color: red;
  border-color: red;
}

#CSS li:nth-child(10) {
  margin-top: 20px;
}

#CSS li:nth-child(7) {
  margin-top: 29px;
}

#CSS p {
  display: inline;
}

.cssandroidreslinks {
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  outline: 2.2px solid black;
  padding: 3px 11px;
  transition: 0.1s;
  margin: 0 5px 0 3px;
  color: white;
  background-color: #06005f;
}

.cssandroidreslinks:hover {
  border: 2px solid #06005f;
  color: #06005f;
  background-color: white;
}

.cssandroidreslinks:active {
  outline: 2.2px solid black;
  background-color: #1100ff;
  color: white;
  border: 2px solid white;
}

#CSS li:nth-child(13) {
  margin-top: 8px;
}

@media only screen and (max-width:600px) {
  #CSS ul {
    max-width: 85%;
  }
  
  #CSS p {
    display: block;
  }

  #CSS li:nth-child(9) p:nth-child(1) {
    line-height: 30px;
  }

  #CSS li:nth-child(12) p:nth-child(1) {
    line-height: 30px;
  }
}

@media only screen and (min-width:600px) and (max-width:800px) {
  #CSS ul {
    max-width: 85%;
  }

  .css-tablet-webres-p {
    display: block !important;
  }
}

/* -----JavaScript----- */

#JavaScript{
  background-color: red;
  border: 3.5px solid rgb(141, 0, 0);
  outline: 3.7px solid black;
  color: white;
}

@media only screen and (max-width:800px) {
  #JavaScript ul {
    max-width: 85%;
  }
}

/* -----Source Codes----- */

#Source-Codes {
  border: 3.5px solid rgb(0, 80, 80);
  outline: 3.7px solid black;
  background-color: teal;
  color: white;
}

#Source-Codes h2, p {
  margin: 10px 0 10px 0;
}

#Source-Codes div:nth-child(1) {
  text-align: center;
}
#Source-Codes>div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#source1{
  padding: 6px 38px;
}

#source2{
  padding: 6px 20px;
}

#source3{
  padding: 6px 26px;
}

#source4{
  padding: 6px 23px;
}

#source5{
  padding: 6px 34px;
}

#source6{
  padding: 6px 31px;
}

#source7{
  padding: 6px 31px;
}

#source8{
  padding: 6px 16px;
}

#source9{
  padding: 6px 25px;
}

#source10{
  padding: 6px 12px;
}

#source11{
  padding: 6px 42px;
}

#source12{
  padding: 6px 24px;
}

#source13{
  padding: 6px 19px;
}

#source14{
  padding: 6px 11px;
}

#source15{
  padding: 6px 38px;
}

#source16{
  padding: 6px 38px;
}

#source17{
  padding: 6px 51px;
}

#source18{
  padding: 6px 23px;
}

#source19{
  padding: 6px 41px;
}

#source20{
  padding: 6px 47px;
}

#source21{
  padding: 6px 15px;
}

#source22{
  padding: 6px 25px;
}

#source23{
  padding: 6px 28px;
}

#source24{
  padding: 6px 23px;
}

#source25{
  padding: 6px 30px;
}

#source26{
  padding: 6px 31px;
}

#source27{
  padding: 6px 24px;
}

#source28{
  padding: 6px 45px;
}

#source29{
  padding: 6px 51px;
}

#source30{
  padding: 6px 33px;
}

/* #link30{
  padding: 6px 20px;
} */

.sourcelinks{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  outline: 2.2px solid black;
  border-radius: 5px;
  padding: 6px;
  transition: 0.1s;
}

.sourcelinks:hover{
  color: teal;
  background-color: white;
  border-color: teal;
  /* border-radius: 20px; */
}

.sourcelinks:active{
  color: black;
  background-color: rgb(0, 189, 189);
  border-color: white;
  /* border-radius: 20px; */
  /* transform: scale(0.9, 0.9); */
}

/* -----Footer------ */

#Footer {
  font-family: "Rowdies", cursive;
  /* font-size: 10px; */
  border: 4px solid #21237a;
  background-color: #3538c2;
  color: #ffffff;
  padding-bottom: 7px;
  border-radius: 10px;
  text-align: center;
  outline: 3.7px solid black;
  transition: background-color 0.2s;
}

#Footer:hover{
  background-color: #3032a3;
}

#Footer h3{
  letter-spacing: 2px;
}

#Footer strong{
  letter-spacing: 1px;
}

#Footer hr{
  width: 100%;
}

#Footer div{
  display: flex;
  justify-content: center;
}

#Footer ul{
  margin: 0;
}

#divfirst{
  margin-top: 5px;
}

#divlast{
  margin-bottom: 5px;
}

.footerlinks{
  text-decoration: none;
  color: white;
}

.footerlinks:hover{
  color: rgb(200, 200, 200);
}

.footerlinks:active{
  color: rgb(217, 255, 0);
}

.footericons{
  text-decoration: none;
  color: white;
  padding-right: 5px;
  padding-top: 3px;
  size: 10px;
}

.footericons:hover {
  color: rgb(200, 200, 200);
}

.footericons:active {
  color: rgb(217, 255, 0);
}

#Footer p {
  margin: 0;
}

@media only screen and (max-width:600px) {
  #Footer div:nth-child(3) p {
    padding: 0 10px;
  }
}