* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* background-color: #1a2135; */
    background: linear-gradient(180deg, #24243e 0%, #302b63 50%, #24243e 100%);
}

.btn {
    box-sizing: border-box;
    border-radius: 50px;
    /* padding: 10px 20px; */
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.btn1 {
    border: 5px solid black;
    background-color: aqua;
    outline: 5px solid aqua;
    padding: 10px 85px;

}

.btn1:hover {
    border: 5px solid black;
    color: white;
    background-color: #002fff;
    outline: 5px solid white;
    scale: 0.9;
}

.btn1:active {
    border: 5px solid #002fff;
    color: #002fff;
    background-color: white;
    outline: 5px solid white;
}

.btn2 {
    border: 5px solid black;
    background-color: #ff00ff;
    outline: 5px solid #ff00ff;
    padding: 10px 43.5px;
}

.btn2:hover {
    border: 5px solid black;
    color: white;
    background-color: #ae00ff;
    outline: 5px solid white;
    scale: 0.9;
}

.btn2:active {
    border: 5px solid #ae00ff;
    color: #ae00ff;
    background-color: white;
    outline: 5px solid white;
}

@media screen and (max-width:550px) {
    .btn {
        /* margin: 10px 25px; */
        text-align: center;
    }
}